/* Reset all margins, paddings, and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove underline from links */
a {
  text-decoration: none;
}

/* Set images to be responsive */
img {
  max-width: 100%;
  height: auto;
}

/* Reset buttons */
button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
}
